//////////////////////////////////////
// HEADING
.heading-primary {
  color: var(--color-grey-light-4);
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--color-grey-dark-3);
  }
}

.text-box {
  text-align: left;
}

//////////////////////////////////////
// SOCIAL LINKS
.social-links {
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 3rem;

  &__link {
    text-decoration: none;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    fill: var(--color-grey-dark-3);

    &:hover {
      fill: var(--color-grey-light-4);
    }
  }
}
