//////////////////////////////////////
// HEADING
.heading-primary {
  color: var(--color-grey-light-4);
  text-transform: uppercase;
  &--main {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &--sub {
    display: block;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--color-grey-dark-3);
  }
}

.text-box {
  text-align: left;
}

//////////////////////////////////////
// SOCIAL LINKS
.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__icon {
    height: 1.4rem;
    width: 1.4rem;
    fill: var(--color-grey-dark-3);

    &:hover {
      fill: var(--color-grey-light-4);
    }
  }
}
