{% extends 'base.html' %}
{% load static %}

{% block title %}Software Engineer | Olawale Oyeyipo{% endblock title %}

{% block content %}
<header class="header">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Olawale Oyeyipo</span>
            <span class="heading-primary--sub">
                love writing software for the web and providing scalable solutions that
                makes life better for all involved.
            </span>
        </h1>
    </div>

    <ul class="social-links">
        <li class="social-links__item">
            <a href="https://www.github.com/oyeyipowale" class="social-links__link" target="_blank">
                <svg class="social-links__icon">
                    <use xlink:href="{% static 'images/sprite.svg' %}#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="social-links__item">
            <a href="https://www.linkedin.com/oyeyipowale-03k7s" class="social-links__link" target="_blank">
                <svg class="social-links__icon">
                    <use xlink:href="{% static 'images/sprite.svg' %}#icon-linkedin"></use>
                </svg>
            </a>
        </li>
        <li class="social-links__item">
            <a href="https://www.stackoverflow.com/u/olawale" class="social-links__link" target="_blank">
                <svg class="social-links__icon">
                    <use xlink:href="{% static 'images/sprite.svg' %}#icon-stackoverflow"></use>
                </svg>
            </a>
        </li>
    </ul>
</header>

{% endblock content %}